

/* Estilos para el contenedor principal */
.juego-container {
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Estilos para los encabezados */
h1 {
  font-size: 24px;
  color: #0d212f;
}

h2 {
  font-size: 18px;
  color: red;
}

/* Estilos para el input */
input {
  padding: 6px;
  font-size: 16px;
  margin-bottom: 20px;
  border-color: #e74c3c;
}

/* Estilos para los marcadores */
.marcadores {
  margin-top: 25px;
  border-color: blue;
}

/* Estilos para los botones */
.botones button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #0d212f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.botones button img {
  max-width: 50px;
}

/* Estilos para el resultado */
.resultado {
  margin-top: 20px;
  font-size: 18px;
}

/* Estilos para el botón de reinicio */
.resultado button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
